.spacer {
  height: 25px;
  width: 100%;
  background-color: rgb(128, 128, 128);
}
.about-container {
  .slide-controls {
    @media (min-width:901px) {
      display: none;
    }
    width: 100%;
    .about-prev img{
      position: relative;
      margin-top:-600px;
      float:left;
      height: 250px;
      width: 80px;
      z-index: 2;
    }
    .about-next img {
      z-index: 2;
      position: relative;
      margin-top:-600px;
      float:right;
      height: 250px;
      width: 80px;
    }
  }
  .slider-container {
    overflow-y: hidden;
    z-index: 2;
    position: relative;
    text-align: center;
    width: 100%;
    height: 650px;
    display: flex;
    .about-slide {
      position: absolute;
      overflow-y: hidden;
      @media (min-width: 901px) {
        width: 33.333333%;
        position:static;
        left: 0;
      }
      @media (max-width: 900px) {
        width: 100%;
        position: absolute;
        left:-100%;
      }
      background-color: white;

      .item {
        padding-top: 10px;
        font-size: 24px;
        font-weight: 300;
      }
      .type-about {
        margin: 40px 50px;
        line-height: 2;
      }
      .type-img {
        padding: 50px;
        border-radius: 10000px;
        @include size(30%,auto);
        background-color: rgb(31, 189, 113);
      }
    }
    .middle {
      @media (min-width: 901px) {
        background-color: rgb(128, 128, 128);
      }
      background-color:white;
      button {
        font-size: 18px;
        display: block;
        padding: 25px 50px;
        color:white;
        cursor: pointer;
        border:none;
        background-color: rgb(29, 194, 100);
        margin: 50px auto;
        &:hover {
          background-color: rgb(15, 111, 56);
        }
      }
    }
  }
}
