.news {
  position: absolute;
  margin-top: 575px;
  width: 100%;
  height: auto;
  display: flex;
  .twitter-container {
    width:20%;
    height: 600px;
  }
  .news-container {
    display: flex;
    width:80%;
    height: 600px;
    flex-wrap: wrap;
    .news-row {
      display: flex;
      height: 50%;
      width: 100%;
      .news-article {
        background-color: rgb(35, 160, 177);
        height: 100%;
        width: 25%;
        .story-container {
          position: absolute;
          height: 50%;
          width: 100%;
          background-repeat: no-repeat;
          background-image: url('../../Images/social.svg');
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          border: 1px solid black;
          .story-info {
            display: flex;
            flex-direction: column;
            margin-top: 250px;
            height: 50px;
            width: 20%;
            background-color: rgba(23, 23, 23, 0.75);
            .story-title {
              color:white;
              padding-left: 50px;
            }
            .arrow {
              float:right;
              img {
                @include size(25,25);
              }
            }
            .story-info-p {
              color:white;
              margin: 10px 15px;
              overflow-y: hidden;
              display: none;
            }
            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1400px) {
  #news-1,#news-2,#news-3 {
    width: 33.3333333%;
    .story-container {
      .story-info {
        width: 26.7%;
      }
    }
  }
  #news-4 {
    width: 0;
    display: none;
    .story-container {
      display: none;
    }
  }
}

@media screen and (max-width: 1000px) {
  #news-1,#news-2 {
    width: 50%;
    .story-container {
      .story-info {
        width: 40%;
      }
    }
  }
  #news-3 {
    width: 0;
    display: none;
    .story-container {
      display: none;
    }
  }
}

@media screen and (max-width: 700px) {
  .twitter-container {
    display: none;
  }
  .news-container {
    display: block;
    width: 100%;
  }
  .news-article {
    width: 100%;
  }
  #news-1 {
    width: 100%;
    .story-container {
      width: 100%;
      .story-info {
        width: 100%;
      }
    }
  }
  #news-2,#row-2 {
    width: 0;
    display: none;
    .story-container {
      display: none;
    }
  }
}
